export MAINNET_RPC="https://mainnet.infura.io/v3/2323"
export ARB_ONE_RPC="https://arb1.arbitrum.io/rpc"
export RINKEBY_RPC="https://rinkeby.infura.io/v3/6faa1b9b8d274a7f96192e868a65f6d4"
export RINKARBY_RPC="https://rinkeby.arbitrum.io/rpc"
export DEVNET_PRIVKEY="0x32f327d31d59f3fae24e56d68dae78dc0b30feacf378368e926b88f551996cd1" # my key
# export DEVNET_PRIVKEY="0x8803565d1ab75cf6a04656e2a638c65a2984f810ce2f5f8270601aca4e25e067" # preset key
export INFURA_KEY="6faa1b9b8d274a7f96192e868a65f6d4"
# export DEV_MNEMONIC="a purely peer-to-peer version of electronic cash would allow online payments to"
export ARB_URL="http://localhost:7545"
export ETH_URL="http://localhost:8545"
export ARB_GENESIS_KEY="e887f7d17d07cc7b8004053fb8826f6657084e88904bb61590e498ca04704cf2"