[submodule "packages/arb-avm-cpp/external/secp256k1"]
    path = packages/arb-avm-cpp/external/secp256k1
    url = https://github.com/bitcoin-core/secp256k1.git
[submodule "packages/arb-avm-cpp/external/libff"]
    path = packages/arb-avm-cpp/external/libff
    url = https://github.com/scipr-lab/libff
[submodule "packages/arb-avm-cpp/external/Catch2"]
    path = packages/arb-avm-cpp/external/Catch2
    url = https://github.com/catchorg/Catch2
[submodule "packages/arb-avm-cpp/external/json"]
    path = packages/arb-avm-cpp/external/json
    url = https://github.com/nlohmann/json
[submodule "packages/arb-avm-cpp/cmake/cable"]
	path = packages/arb-avm-cpp/cmake/cable
	url = https://github.com/ethereum/cable
[submodule "packages/arb-avm-cpp/external/PicoSHA2"]
	path = packages/arb-avm-cpp/external/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
[submodule "packages/arb-os"]
	path = packages/arb-os
	url = https://github.com/OffchainLabs/arb-os
