language: cpp
dist: bionic
os:
  - linux
addons:
  apt:
    packages: lcov
compiler:
  - gcc
script:
  - mkdir release
  - cd release
  - cmake .
  - cmake  --build .
  - ctest .
after_success:
  # Create lcov report
  - lcov --capture --directory . --output-file coverage.info
  - lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter system-files
  - lcov --list coverage.info # debug info
  # Uploading report to CodeCov
  - bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports"