-i https://pypi.org/simple
-e .
asn1crypto==0.24.0
attrdict==2.0.1
base58==1.0.3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
cytoolz==0.9.0.1 ; implementation_name == 'cpython'
decorator==4.4.0
eth-abi==2.0.0b9
eth-account==0.4.0
eth-bloom==1.0.3
eth-hash[pycryptodome,pysha3]==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-tester[py-evm]==0.1.0b39
eth-typing==2.1.0
eth-utils==1.6.1
ethpm==0.1.4a19
future==0.17.1
hexbytes==0.2.0
idna==2.8
ipfshttpclient==0.4.12
jsonschema==2.6.0
lru-dict==1.1.6
multiaddr==0.0.8
mypy-extensions==0.4.1
netaddr==0.7.19
networkx==2.3
parsimonious==0.8.1
protobuf==3.8.0
py-ecc==1.7.0
py-evm==0.2.0a42
py-geth==2.1.0
py-solc-x==0.4.0
pycparser==2.19
pycryptodome==3.8.2
pyethash==0.1.27
pyevmasm==0.2.0
pysha3==1.0.2
pytest-ethereum==0.1.3a6
requests==2.22.0
rlp==1.1.0
semantic-version==2.6.0
six==1.12.0
toolz==0.9.0
trie==1.4.0
urllib3==1.25.3
varint==1.0.2
web3[tester]==5.0.0b2
websockets==7.0
